.head{
    height: 56px;
    background-color: yellow;
    display: flex;
}
.bar{
    width: 40px;
    height: 40px;
    padding: 8px;
}
.logo{
    width: 122px;
    height: 56px;
    background-image: url("logo.webp");
    background-size: contain;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input{
    width: 342.8px;
    height: 40px;
    border-left-radius: 50%;
}
.search-icon{
    width: 64px;
    height: 42px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}